[Desktop Entry]
Version=1.0
Name=Acestream media player
GenericName=Media player
Comment=Play acestreams and torrents
Exec=/usr/local/bin/ace %U
TryExec=/usr/local/bin/ace
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
MimeType=x-scheme-handler/acestream
